<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <button onclick="vm.openform()">Open Form</button>
    <h1>{{"Nilai a = " + a}}</h1>
    <h1>{{"Rata - rata = " + rata}}</h1>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        a : 0 ,
        rata : 0 ,
        bagi : 0 
      },
      methods : {
          openform(){
              while(this.a < 10){
                var input = prompt('masukkan nilai a')
                this.a += parseInt(input)
                this.bagi++
              }
              this.rata = this.a/this.bagi
          }
      }
  })
  </script>
</body>
</html>
 