<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas 12</title>
    <style>
        form {
            border: 1px solid #ddd;
            padding: 5px;
            width: 225px;
            background: #efefef;
        }
        label {
            display: block;
            margin-top: 5px;
        }
        input, textarea, select, option {
            min-width: 200px;
        }
    </style>
</head>
<body>
    <div id="app">
        <form @submit.prevent="submitForm()">
            <p v-if="errors.length">
                <b>Please correct the following errors: </b>
                <ul>
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
            </p>
            <label>Name: </label>
            <input type="text" :disabled="buttonStatus == 'upload'" name="name" ref="name" v-model="name">
            <label>Adress: </label>
            <textarea :disabled="buttonStatus == 'upload'" name="address" ref="address" v-model="address"></textarea>
            <label>No_HP: </label>
            <input type="text" :disabled="buttonStatus == 'upload'" name="no_hp" ref="no_hp" v-model="no_hp">
            
            <div v-if="buttonStatus == 'submit'">
                <input type="submit" value="SUBMIT">
            </div>
            <div v-else-if="buttonStatus == 'update'">
                <input type="button" value="UPDATE" @click="updateBlog(idEditBlog)">
                <input type="button" value="CANCEL" @click="clearForm">
            </div>
            <div v-else-if="buttonStatus == 'upload'">
                <input type="file" name="photo" ref="photo">
                <input type="button" value="UPLOAD" @click="submitPhoto(idUploadBlog)">
                <input type="button" value="CANCEL" @click="clearForm">
            </div>
        </form>

        <br><br>
        <table border=1>
            <tr v-for="member of members">
                <td>
                    <img width=100px :src="member.photo_profile ? photoDomain + member.photo_profile : 'https://dummyimage.com/300/09f/fff.png'">
                </td>
                <td>
                    <b>Name: </b>{{ member.name }}<br>
                    <b>Adress: </b> {{ member.address }}<br>
                    <b>No_HP: </b> {{ member.no_hp }} <br>
                </td>
                <td>
                    <button @click="editBlog(member)">Edit</button>
                    <button @click="removeBlog(member.id)">Hapus</button>
                    <button @click="uploadPhoto(member)">Upload Foto</button>
                </td>
            </tr>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                name: '',
                address: '',
                no_hp: '',
                errors: [],
                members: [],
                photoDomain: 'http://demo-api-vue.sanbercloud.com',
                buttonStatus: 'submit',
                idEditBlog: null,
                idUploadBlog: null
            },

            methods: {
                validationForm: function() {
                    this.errors = []
                    if(this.name.length < 5) {
                        this.errors.push('name minimal 5 karakter')
                        this.$refs.name.focus()
                    }
                    if (this.address.length > 100) {
                        this.errors.push('address tidak boleh lebih dari 100 karakter')
                        this.$refs.address.focus()
                    }
                    if(this.no_hp.length < 10) {
                        this.errors.push('No_HP minimal 10 angka')
                        this.$refs.no_hp.focus()
                    }
                },

                submitForm: function() {
                    this.validationForm()
                    if (this.errors.length === 0) {
                        let formData = new FormData()
                        formData.append('name', this.name)
                        formData.append('address', this.address)
                        formData.append('no_hp', this.no_hp)
                        const config = {
                        method : "post",
                        url : "http://demo-api-vue.sanbercloud.com/api/member",
                        data: formData
                        }
                    axios(config)
                        .then( (response) => {
                            this.clearForm()
                            this.getBlogs()
                            alert(response.data.message)
                        })
                        .catch( (error)  => {
                        })
                    }
                },
                
                getBlogs: function() { 
                    const config = {
                        method : "get",
                        url : "http://demo-api-vue.sanbercloud.com/api/member"
                    }
                    axios(config)
                        .then((response) => {
                            this.members = response.data.members
                        })
                        .catch((error) => {
                            console.log(error)
                        })
                },

                removeBlog: function(id) {
                    const config = {
                        method : "post",
                        url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                        params: {_method: "DELETE"}
                    }
                    axios(config)
                        .then((response) => {
                            this.getBlogs()
                            alert(response.data.message)
                        })
                        .catch((error) => {
                            console.log(error)
                        })
                },

                editBlog: function(member) {
                    this.name = member.name
                    this.address = member.address
                    this.no_hp = member.no_hp
                    this.buttonStatus = 'update'
                    this.idEditBlog = member.id
                },

                clearForm: function() {
                    this.name = ''
                    this.address = ''
                    this.no_hp = ''
                    this.buttonStatus = 'submit'
                    this.idEditBlog = null,
                    this.idUploadBlog = null
                },

                updateBlog: function(id) {
                    this.validationForm()
                    if (this.errors.length === 0) {
                        let formData = new FormData()
                        formData.append('name' ,this.name)
                        formData.append('address' ,this.address)
                        formData.append('no_hp', this.no_hp)
                        const config = {
                        method : "post",
                        url : `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                        params: {_method: 'PUT'},
                        data: formData
                        }
                    axios(config)
                        .then( (response) => {
                            this.clearForm()
                            this.getBlogs()
                            alert(response.data.message)
                        })
                        .catch( (error)  => {
                        })
                    }                    
                },

                uploadPhoto: function(member) {
                    this.name = member.name
                    this.address = member.address
                    this.no_hp = member.no_hp
                    this.buttonStatus = 'upload'
                    this.idUploadBlog = member.id
                },

                submitPhoto: function(id) {

                    let file = this.$refs.photo.files[0]
                    let formData = new FormData()
                    formData.append('photo_profile', file)

                    let config = {
                        method: "post",
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                        data: formData
                    }
                    axios(config)
                        .then( (response) => {
                            this.clearForm()
                            this.getBlogs()
                            alert(response.data.message)
                        })
                        .catch( (error) => {
                            console.log(error)
                        })
                }
                },
                
                created() {
                    this.getBlogs()
                }
        })
    </script>
</body>
</html>