<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
          <input type="text" v-model:value = 'dataBaru'>
          <button type="button" @click ='inputan'>{{tombol}}</button>
          <ul>
              <li v-for="us in users"><span>{{us.name}}</span>
                  <button type="button" @click='inputan'>edit</button>
                  <button type="button" @click='delete'>delete</button>
              </li>
          </ul>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
          dataBaru : '',
          tombol: 'add',
          users : [
              {'name' : 'Rendi Restiandi'},
              {'name' : 'Johana Indah Purbasari'},
              {'name' : 'Adzlan Ravindra'}
          ]
        
      },
      computed: {
         
      },
      methods: {
          inputan: function(){
            this.users.push({'name' : this.dataBaru})
            this.dataBaru = ''
          },
              
          editan: function(target){
            this.dataBaru = target
            this.tombol = 'update'
          }
      }
  });
  </script>
</body>
</html>
 