<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
      <form>
          <input type="text" v-model:value="buku" placeholder="Cari buku">
          <ul>
              <li v-for='b in periksa' ><b>{{ b }}</b></li>
          </ul>
      </form>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        buku : '',
        ada : false,
        books : [
            'Pintar Belajar Javascript', 'Mahir Menggunakan VueJs', 'Satu Jam Jago HTML', 'Tutorial Lengkap VueJs','Cara Mahir Javascript'
        ],
      },
      computed: {
          periksa: function(){
              return this.books.filter((bu)=>{
                  return bu.toLowerCase().match(this.buku)
              })
          }
      }
  });
  </script>
</body>
</html>
 